@model Category
@{
    ViewBag.Title = ViewBag.CategoryName ?? "Category";
}
<div class="col-8">

    @await Component.InvokeAsync("ListViewBooks", new { isPaging = true, option = BookOptionEnum.Category, categoryId = Model.Id })

</div>


