<nav class="sb-topnav navbar navbar-expand navbar-light bg-light sticky-top">
    <!-- logo Book-->
    <a class="navbar-brand ps-3" href="#">
        <img src="~/assets/img/other/logo-library.png" alt="logoBook" style="height:40%; width:30%"  />
    </a>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">

        <div class="input-group w-100">
            <input type="search" placeholder="Search" aria-describedby="button-addon1" class="form-control border-1">
            <button id="button-addon1" type="submit" class="btn btn-link border border-1 btn-light text-dark"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar Dropdown-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown justify-content">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Settings</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#!">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
