@{
    ViewBag.Title = "Forget password";
}

<div class="row mx-0 justify-content-center my-3 p-5">
    <div class="col-3">
        <p>You forgot password. Don't worry. Please type your email to reset password easily.</p>
        <form method="get">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
            </div>
            <button class="btn btn-sm btn-success">Send</button>
        </form>
    </div>
</div>

