@{
    ViewBag.Title = "Sign up";
}
@model SignUpModel
<style>
    .validate-summary li {
        list-style: none;
        font-size : 0.9rem;
    }
    .validate-summary ul{
        padding-left : 0;
    }
</style>
<div class="row mx-0 justify-content-center">
    <div class="col-3 mt-5 p-5 shadow-lg border border-1">
        <h2 class="mb-5 text-center fw-bold text-success">Welcome to E-Library</h2>
        <form asp-action="SignUp" asp-controller="Logging" method="post">
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" placeholder="name@example.com">
                <label asp-for="Email"></label>
                <div asp-validation-summary="ModelOnly" class="text-danger validate-summary"></div>
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" asp-for="FirstName" placeholder="x">
                <label asp-for="FirstName"></label>
                <span class="text-danger" asp-validation-for="FirstName"></span>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" asp-for="LastName" placeholder="x">
                <label asp-for="LastName"></label>
                <span class="text-danger" asp-validation-for="LastName"></span>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" asp-for="Password" placeholder="x">
                <label asp-for="Password"></label>
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" asp-for="ConfirmPassword" placeholder="x">
                <label asp-for="ConfirmPassword"></label>
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" asp-for="CountryId" asp-items="ViewBag.CountryId"></select>
                <label asp-for="CountryId"></label>
            </div>

            <div class="form-check mb-3">
                <input class="form-check-input" asp-for="IsSignInNow">
                <label class="form-check-label" asp-for="IsSignInNow">
                    Sign in after finsish
                </label>
            </div>
            <p>Click <a asp-action="Index" asp-controller="Logging">here</a> to sign in page</p>
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
    </div>
</div>
@section scripts{ 
    <script>
        jQuery.validator.addMethod("patterntext",
            function (value, element, param) {
                console.log('isupper23 : ' + hasUpperCase(value));
                console.log('number : ' + hasNumbers(value));
                return hasUpperCase(value) && hasNumbers(value);
            });
        jQuery.validator.unobtrusive.adapters.addBool("patterntext");
        function hasUpperCase(str) {
            return (/[A-Z]/.test(str));
        }
        function hasNumbers(t) {
            var regex = /\d/g;
            return regex.test(t);
        }
    </script>
}